<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "Feasibilities_2017"
    version     = "1.0.0" >

  <name>Feasy</name>

  <description>
      Feasibility Studies App 2017 for Android
  </description>

  <author>
      Mohamed Ali Zaki Sabet
  </author>

</widget>