h1{
direction: rtl;
color: red;
background-color: blue;
font-family: arial;
font-size: 18;
text-align: center;
}

h3{
direction: rtl;
color: blue;
background-color: cyan;
font-family: arial;
font-size: 14;
text-align: center;
text-decoration: underline;
}

p{
direction: rtl;
color: red;
font-family: arial;
font-size: 14;
font-weight: bold;
text-align: center;
}

span{
direction: rtl;
color: blue;
font-family: arial;
font-size: 14;
font-weight: bold;
text-align: center;
}

input[type=button]{
direction: rtl;
color: blue;
background-color: silver;
font-family: arial;
font-size: 16;
font-weight: bold;
}

input[type=text]{
direction: rtl;
color: black;
background-color: white;
font-family: arial;
font-size: 14;
}

input[type=number]{
direction: ltr;
color: black;
background-color: white;
font-family: arial;
font-size: 14;
}

.boxed{
border: 1px solid blue;
}

div{
direction: rtl;
text-align: center;
}

textarea{
direction: rtl;
color: black;
background-color: white;
font-family: arial;
font-size: 14;
}
select{
direction: ltr;
color: black;
background-color: white;
font-family: arial;
font-size: 14;
}